# Credentials
.env
.msmtprc

# Node
node_modules/
.next/
out/
dist/
build/

# Logs
*.log
logs/

# Local scripts
scripts/
app-tracker.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
